*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

// Scroll Animate Smooth
html, body{
    scroll-behavior: smooth!important;
}

// ScrollBar
::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track{
    background-color: #070707;
    border-radius: 3em;
}

::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 30px;
    height: 1em;
}

#body{
    position: relative;
    overflow: hidden;
}

// Transitions all
:hover{
    transition: 0.3s all ease;
}

.btn-down{
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content:center ;
    text-align: center;
}


/* PARTICLE BACKGROUND */
#particles-js{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: -1;
}


/* CURSOR STYLE */

.c-cursor{
    --size:20px;
    position: fixed;
    width: var(--size);
    height: var(--size);
    top: calc(var(--size)/-2);
    left: calc(var(--size)/-2);
    transform: translate(var(--cursor-x, -100px), var(--cursor-y,-100px)) translateZ(0);
    pointer-events: none;
    transition: none;
    z-index: 11000;
    will-change: transform;
&__inner{
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid #070707;
        transition: all 0.15s ease-in-out;
        opacity: 1;
        transform: scale(1) translateZ(0);
    }
    &.is-clicked &__inner{
        opacity: 0.5;
    }
    &.is-hidden &__inner{
        opacity: 0;
    }
    &.is-link-hovered &__inner{
        transform: scale(0.85) translateZ(0);
        background-color: #00b894;
        border: 1px solid transparent;
    }
}

.has-custom-cursor{
    &,
    *{
        cursor: none!important;
    }
}

body{
    background-color: #070707;
}

nav{
    margin: auto;
    position: fixed;
}

nav, ul{
    width: 95%;
    height: 10vh;
    display: flex;
    justify-content: right;
    align-items: center;
}

.li-icon{
   align-items: center;
   justify-content: center; 
}

.github-icon {
    font-size: 2em;
}

/* HOME */

.home{
    width: 85vw;
    height: 90vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.txt-home, .img-home{
    width: 50%;
    height: 35%;
}

.txt-home{
    font-weight: bold;    /*bold*/
    font-size: 2.5rem;
    justify-content: center;
}

.txt-name-home{
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 14ch;
    animation: typing 2s steps(20), blink .5s infinite step-end alternate;
    overflow: hidden;

}

@keyframes typing{
    from{width: 0;}
}
@keyframes blink{
    50% {border-color: transparent;}
}

.name-color-home{
    color: #00b894;
}

/* Buttons */
.btn-cv{
    width: 178px;
    height: 40px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    margin-top: 30px;
    margin-right: 20px;
}

.btn-cv:hover{
    background-color:#00b894;
    color: #fff;
}

.btn-about{
    width: 157px;
    height: 40px;
    font-size: 16px;
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 20px;
}
.btn-about:hover{
    background-color:#00b894;
    color: #fff;
    border: 3px solid #00b894;
}


/* ABOUT */

.about{
    width: 85vw;
    height: auto;
    margin:auto ;
}

.txt-about{
    font-weight: bold;    /*bold*/
    font-size: 2.5rem;
    width: 60%;
    padding: 8rem 0;
}

.btn-see-projects{
    width: 180px;
    height: 40px;
    margin: 60px 0 0 0;
    background-color: transparent;
    font-size: 17px;
    border-radius: 30px;
    border: 3px solid #fff;
    transition: all 0.4s ease;
}

.btn-see-projects:hover{
    background-color: #00b894;
    color: #fff;
    border: 3px solid #00b894;
}


.skills-about{
    width: 60%;
    margin-bottom: 5em;
}

.skills-about-title{
    font-weight: 600;
    font-size: 2.3rem;
}


.skills-cont{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
    gap: 25px;
    row-gap: 20px;
}

.cont-skill{
    display:flex ;
    width: 145px;
    height: 45px;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.cont-skill h2{
    font-size: 18px;
    font-weight: 600;
}

.cont-skill-html{
    border: 3px solid #e67e22;
}
.cont-skill-css{
    border: 3px solid #3498BD;
}
.cont-skill-js{
    border: 3px solid #F1C40F;
}
.cont-skill-py{
    border: 3px solid #e7c744;
}
.cont-skill-node{
    border: 3px solid #2ECC71;
}
.cont-skill-ts{
    border: 3px solid #0984E3;
}

/* PROJECTS */

.projects{
    width: min-content;
    height: 100vh;
    margin: auto;

}

.projects-title{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding: 5rem 0;
}

.projects-cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

.projects-card{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    border: 3px solid #fff;
    height: auto;
}

.projects-card img{
    width: 100%;
    border-radius: 20px;
}

.btns-projects{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-height: max-content;
    flex-grow: 1;
    width: 100%;
    margin: 2em auto;
}

.btn-code{
    display: flex;
    width: 200px;
    height: 40px;
    border: 3px solid #fff;
    border-radius: 20px;
    background: transparent;
    font-size: 17px;
    align-items: center;
    justify-content: space-between;
    padding:0 60px;
}

.btn-demo{
    width: 200px;
    height: 40px;
    border: 3px solid #00b894;
    border-radius: 20px;
    background: transparent;
    font-size: 15px;
}

.btn-demo:hover{
    background-color:#00b894;
    color: #000;
}

// RESPONSIVE QUERIES

@media (max-width: 768px) {
    nav,
    ul {
      position: absolute;
    }
  
    .home,
    .about,
    .projects {
      width: 80vw; /* Ancho completo en pantallas pequeñas */
    }

    .about{
        height: 140vh;
    }

    .img-home{
        width: 0;
    }

  
    .txt-home,
    .img-home,
    .txt-about {
      width:100%; /* Ancho completo para textos e imágenes en pantallas pequeñas */
      font-size: 1.5rem;
    }
  
    .txt-home { /* Reducción del tamaño de fuente en pantallas pequeñas */
    }
  
    .btn-cv,
    .btn-about,
    .btn-see-projects,
    .btn-code,
    .btn-demo {
      width: 100%; /* Ancho completo para botones en pantallas pequeñas */
      margin: 10px 0; /* Espaciado vertical en botones */
      padding: 0em 2em;
    }

    .skills-cont{
        grid-template-columns: 1fr 1fr;
    }
  
    .projects-cont{
      grid-template-columns: 1fr; /* Cambio a una sola columna en proyectos en pantallas pequeñas */
      gap: 4em; /* Reducción del espacio entre proyectos en pantallas pequeñas */
    }
  }